contextlib2==0.5.1
daemonocle==1.0.1
freezegun==0.3.5
httpretty==0.6.2
jdatetime==1.7.1
pbr==1.8.1
result==0.1.1
umalqurra==0.2
pandas==0.20.3
influxdb==4.1.1
click==6.2
coverage==4.0.3
funcsigs==0.4
mock==1.3.0
nose==1.3.7
psutil==5.6.6
python-dateutil==2.4.2
pytz==2015.7
PyYAML==5.1
six==1.10.0
wheel==0.26.0
wrapt==1.10.6
datadog==0.29.3
